:root {
    --main-bg-color:#94829A;
    --main-border-color:#915E74;
    --main-text-color:#7d809d;
    --main-button-color:#282b37;

    --padding-buttons: 35px;
}
.body {
    background-image: url("wallpaper.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
}
.ButtonsClass {
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.button{
  opacity: .925;
  border: none;
  border-radius:1.5rem;
  padding-top: var(--padding-buttons);
  padding-bottom: var(--padding-buttons);
  width:15rem;
  height:7rem;
  color: #9d7dd1;
  background:var(--main-button-color);
  font-size:1.75rem;
  font-family: ٩ (╬ʘ益ʘ╬) ۶;
  src: url(sansation_bold.woff);
  font-weight: bold;
}
.no-underline {
  text-decoration: none;
}
.inputBox {
  opacity: .9;
  border-style: none;
  background: #282b37;
  line-height: 1.5;
  color: #9d7dd1;
  font-size: 25px;
  min-width: 500px;
  width: 520px;
  padding: 12px;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.homebtn {
  background: #2b2f3a;
  color: white;
  width: 2rem;
  height:2rem;
  font-size: 2rem;
  border: none;
  opacity: .9;
}
.homebtn:hover {
  opacity: 1;
}
.inputBox:hover,.inputBox:focus {
  opacity: 1;
}
.button:hover,.button:focus {
  opacity: 1;
  transform: translateY(-.2em);
}
